<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>URL</key>
  <dict>
    <key>IsraeliTV</key>
    <dict>
      <key>URLPatterns</key>
      <array>
        <string>http://admin.applicaster.com.*</string>
      </array>
      <key>TestURLs</key>
      <array>
        <string>http://admin.applicaster.com/v12/accounts/39/broadcasters/24/vod_items/846477.json</string>
      </array>
    </dict>
  </dict>
</dict>
</plist>
