<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
    <dict>
        <key>CFBundleIdentifier</key>
        <string>com.plexapp.plugins.israelitv</string>

        <key>PlexClientPlatforms</key>
        <string>*</string>

        <key>PlexFrameworkVersion</key>
        <string>2</string>
    </dict>
</plist>
